$light-text : rgb(202, 200, 200);

$primary-color : #8BE2C6;
$primary-color-varient: #7BD0E0;
$jet-black: #0A0A0A;
$metalic-gold: #D4AF37;

$linear-gradient-primary: linear-gradient(to right, $primary-color, $primary-color-varient);
$linear-gradient-secondary: linear-gradient(to right, $jet-black, $metalic-gold);