.menu-cta-btn {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: $primary-color;
    background: #111;
    cursor: pointer;
    position: relative;
    border: 2px solid $primary-color;
    z-index: 0;
    border-radius: 50px;

}

.menu-cta-btn::before {
    content: '';
    background: $linear-gradient-primary;
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
}

.menu-cta-btn:active {
    color: #000
}

.menu-cta-btn:active:after {
    background: transparent;
}

.menu-cta-btn:hover:before {
    opacity: 1;
}

.menu-cta-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50px;
}